admin-wangai-studio/node_modules
admin-wangai-studio/dist
admin-wangai-studio/pnpm-lock.yaml

admin-wangai-studio/production/node_modules
admin-wangai-studio/production/dist
admin-wangai-studio/production/pnpm-lock.yaml


wangai-studio/node_modules
wangai-studio/.next
wangai-studio/pnpm-lock.yaml
wangai-studio/dist

wangai-studio-server/src/employee/TXT/*
wangai-studio-server/node_modules
wangai-studio-server/pnpm-lock.yaml
wangai-studio-server/.vercel
wangai-studio-server/dist
